@use "../../styles/index" as index;

.product-list-wrapper {
	width: 60%;
	padding-block: 62px;
}

.add-product-button {
	height: 48px;
	width: 193px;
	color: index.$monk-green;
	border-width: 2px;
	border-color: index.$monk-green;
}

.product-list-header {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	text-align: start;
	padding-inline-start: 10px;
	color: index.$monk-header;
	padding-block-end: 16px;
}

.product-list {
	.header {
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		color: index.$monk-title;
	}

	.body {
		padding-block: 16px;

		.product-list-item {
			border-bottom: 1px solid index.$border-gray;
			margin-block-end: 16px;

			&:last-child {
				border-bottom: 0;
				margin-block-end: 0;
			}
		}

		.list-row {
			color: index.$text-gray;

			&.product-list-row {
				padding-block-end: 4px;

				&:only-child {
					padding-block-end: 16px;
				}
			}

			&.variant-list-row {
				padding-block-end: 16px;
				margin-inline-start: 36px;
			}

			.number {
				justify-content: space-evenly;

				&::before {
					content: url("../../assets/images/group_anchor.png");
				}

				&.after {
					justify-content: flex-end;

					&::before {
						content: none;
					}

					&::after {
						content: url("../../assets/images/group_anchor.png");
					}
				}
			}

			.name {
				justify-content: start;
			}

			.actions {
				justify-content: space-between;
			}
		}

		.remove-product-button {
			font-weight: 500;
			border: none;
			padding-inline: 5px;
		}
	}
}

.actions {
	justify-content: flex-end;
}

.show-variants-link {
	justify-content: flex-end;
	color: index.$link-text;
	padding-block-end: 16px;

	.text {
		text-decoration: underline;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.75;
	}

	.open,
	.close {
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		margin-inline-start: 4px;
	}

	.close {
		// content: "\2304";
		transform: rotate(90deg);
	}

	.open {
		// content: "\2303";
		transform: rotate(-90deg);
	}
}
