$pure-white: rgb(255, 255, 255);
$pure-dark: rgb(0, 0, 0);
$fallen-gray: rgba(16, 30, 38, 60%);
$close-white: rgba(242, 242, 242, 50%);
$monk-green: rgba(0, 128, 96, 100%);
$monk-header: rgba(32, 34, 35, 100%);
$monk-title: rgba(0, 0, 0, 90%);
$border-gray: rgba(0, 0, 0, 10%);
$border-gray-light: rgba(0, 0, 0, 7%);
$text-gray: rgba(0, 0, 0, 80%);
$search-text-gray: rgba(0, 0, 0, 50%);
$overlay-cover-bg: rgba(0, 0, 0, 20%);
$nav-border: rgba(209, 209, 209, 100%);
$nav-title: rgba(126, 129, 133, 100%);
$link-text: rgba(0, 110, 255, 100%);
