@use "./index" as index;
@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
	line-height: 1;
	scroll-behavior: smooth !important;
}

html,
body {
	padding: 0;
	width: 100%;
	height: -webkit-fill-available;
	font-family: "Source Sans 3", Helvetica, sans-serif;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track-piece {
	background: index.$fallen-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: index.$close-white;
	border-radius: 10px;
}

div {
	margin: 0 auto;
	text-align: center;
}

li {
	list-style: none;
	list-style-type: none;
}

#root {
	height: inherit;
	overflow: none;
	position: relative;
}

#container {
	width: 980px;
	height: calc(100% - 48px);
	overflow: auto;
	position: relative;

	&::-webkit-scrollbar {
		width: 0;
	}

	@include index.viewport("small") {
		width: 90%;
	}
}

input {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	border-radius: 4px;
	border: none;
	background-color: transparent;
	padding: 5px;

	&[type="number"]::-webkit-outer-spin-button,
	&[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	/* Firefox */
	&[type="number"] {
		-moz-appearance: textfield;
		appearance: textfield;
	}

	&:focus,
	&:focus-visible {
		outline: none;
		outline-offset: none;
	}
}

button {
	border-radius: 4px;
	padding: 5px;
	font-weight: 600;
	border: none;
	width: 100px;
	background: index.$pure-white;
}

.row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

	// @include index.viewport("small") {
	// 	flex-direction: column;
	// 	justify-content: space-between;
	// 	align-items: center;
	// }
}

.column {
	display: flex;
	margin: 0;
	align-items: center;

	@include index.viewport("small") {
		flex-direction: column;
		justify-content: space-between;
	}

	.left,
	.right {
		max-width: 50%;
		flex-basis: 50%;

		@include index.viewport("small") {
			max-width: 100%;
			flex-basis: 100%;
		}
	}
}

$counts: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

@each $displayCount in $counts {
	.large-#{$displayCount} {
		max-width: calc(100% * math.div($displayCount, 12));
		flex-basis: calc(100% * math.div($displayCount, 12));

		@include index.viewport("small") {
			@include index.viewport("small") {
				max-width: 100%;
				flex-basis: 100%;
			}
		}
	}
}

svg {
	pointer-events: none;
}

fieldset {
	border-radius: 12px;
	border: none;

	input {
		border: none;
		box-shadow: none;
		transition: none;
		font-size: 18px;

		@include index.viewport("small") {
			font-size: 24px;
		}
	}
}
