@use "../../styles/index" as index;

.product-picker {
	border-radius: 4px;

	> .row {
		height: 48px;
		width: 100%;
		border-bottom: 1px solid index.$border-gray;
		padding-inline: 25px;
	}

	.title {
		justify-content: flex-start;
		align-items: flex-end;
		padding-bottom: 4px;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.5;
	}

	.search-bar {
		padding-block: 8px;
	}

	.spin-wrapper {
		flex: 9;
	}

	.product-menu {
		flex: 9;

		&:has(.main-item) {
			align-content: start;
			overflow-y: scroll;
		}

		&.row {
			padding-inline: 0;
		}

		.main-item,
		.variant-item {
			margin: 0;
			padding: 12px 25px;
			width: 100%;
		}
	}

	.actions {
		.options {
			column-gap: 8px;
			justify-content: flex-end;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	box-sizing: content-box;
	border: 2px solid index.$monk-green;
	border-bottom: none;
	border-right: none;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	animation: spin 500ms linear infinite;
}
