.product-picker {
	border-radius: 4px;

	> .row {
		height: 48px;
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding-inline: 25px;
	}

	.title {
		justify-content: flex-start;
		align-items: flex-end;
		padding-bottom: 4px;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.5;
	}

	.search-bar {
		padding-block: 8px;
	}

	.product-menu {
		// height: calc(100% - 144px);
		flex: 9;
		align-content: start;
		overflow-y: scroll;

		&.row {
			padding-inline: 0;
		}

		.main-item,
		.variant-item {
			margin: 0;
			padding: 12px 25px;
			width: 100%;
		}
	}

	.actions {
		.options {
			column-gap: 8px;
			justify-content: flex-end;
		}
	}
}
