@use "../../styles/index" as index;

.navbar {
	height: 48px;
	width: 100%;
	position: sticky;
	top: 0;
	border-bottom: 1px solid index.$nav-border;
	padding-inline-start: 21px;
	justify-content: flex-start;

	.title {
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		color: index.$nav-title;
		padding-inline-start: 7px;
	}
	.rf-monk-theme-button {
		position: absolute;
		right:20px;
		background-color: inherit;
		
		span {
			font-size: 30px;
		}
	}
}
