@use "../../styles/index" as index;

.form-edit-input {
	height: 32px;
	padding: 7px;
	box-shadow: 0 2px 4px 0 index.$border-gray;
	border: 1px solid index.$border-gray-light;
	background: index.$pure-white;
	width: 95%;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0;

	&.pill {
		border-radius: 30px;
	}

	input[type="text"] {
		height: 21px;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
		border: none;
		padding: 0;
		pointer-events: none;
		color: index.$text-gray;
	}

	img {
		pointer-events: none;
	}
}
