@use "../../styles/index" as index;

.discount-button {
	line-height: 20px;
}

.discount-menu {
	justify-content: flex-start;
	column-gap: 10px;
}

.discount-number {
	width: 35%;
	padding-inline-start: 10px;

	&.pill {
		border-radius: 30px;
	}
}

.discount-dropdown {
	width: 55%;

	&.pill {
		border-radius: 30px;
	}
}
