@use "../../styles/index" as index;

.discount-button {
	background: index.$monk-green;
	border-color: index.$monk-green;
	color: index.$pure-white;
	border-width: 2px;
	line-height: 20px;
}

.discount-menu {
	justify-content: flex-start;
	column-gap: 10px;
}

.discount-number {
	width: 35%;
	padding-inline-start: 10px;

	&.pill {
		border-radius: 30px;
	}
}

.discount-dropdown {
	width: 55%;

	&.pill {
		border-radius: 30px;
	}
}
